<!-- header.html -->
<header class="affix-top" data-spy="affix" data-offset-top="30">
  <div class="container">
    <a href="/" class="logo">
      <img class="logoimg" src="../img/logo.svg" alt="">
    </a>
    <div class="opt">
      <a href="/index.html" class="nightmode-btn off active"></a>
      <a href="/index-dark.html" class="nightmode-btn"></a>
      <div class="dropdown">
        <a class="btn btn-br br1 btn-xs btn-gray" id="ddtime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="utime">12:18 <span class="hidden-xs">MSK</span></span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu timezone" aria-labelledby="ddtime"><li><a href="javascript:;" onclick="set_time(-720)">21:18 (UTC -12:00)</a></li></ul>
      </div>
      <div class="dropdown lang">
        <a class="btn btn-br br2 btn-xs btn-gray" data-toggle="dropdown">
          <span>Ru</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="active"><a href="">Ru</a></li>
          <li><a href="">Eng</a></li>
        </ul>
      </div>
    </div>
    <ul class="topmenu">
      <li class="active">
        <a href=""><i class="gti-582"></i><span>DOTA 2</span></a>
      </li>
      <li>
        <a href=""><i class="gti-313"></i></a>
      </li>
      <li>
        <a href=""><i class="gti-704"></i></a>
      </li>
      <li>
        <a href=""><i class="gti-800"></i></a>
      </li>
      <li>
        <a href=""><i class="gti-755"></i></a>
      </li>
    </ul>
  </div>
</header>
<span class="swipe-area"></span>