<!-- filters.html -->
<div class="filters">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="button btn-fill btn btn-br br3 dropdown-toggle active" data-toggle="dropdown">
          <span class="btn_txt"><i class="gti-582"></i> DOTA 2</span>
          <span class="caret"></span>
          <span class="morph-shape">
            <svg width="100%" height="100%" viewBox="0 0 416.333 71.369" preserveAspectRatio="none">
              <path d="M8.054,0L402.78,5.083c3.743,0,6.777,3.034,6.777,6.777
                  l6.776,45.741c0,3.742-3.035,6.776-6.776,6.776L14.831,71.153c-3.742,0-6.776-3.035-6.776-6.776l-6.776-57.6
                  C1.278,3.035,4.312,0,8.054,0z"/>
            </svg>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="button btn-line btn btn-br br4 btn-gray dropdown-toggle" data-toggle="dropdown">
          <span class="btn_txt"><i class="times">&times;</i> Команда <b>2134</b></span>
          <span class="caret"></span>
          <span class="morph-shape">
            <svg width="100%" height="100%" viewBox="0 0 416.333 71.369" preserveAspectRatio="none">
              <path d="M7.415,2.933h394.849c3.744,0,6.777,3.034,6.777,6.777
	l6.653,49.823c0,3.742-3.035,6.776-6.777,6.776L14.191,66.086c-3.742,0-6.776-3.035-6.776-6.776l-6.776-49.6
	C0.639,5.968,3.673,2.933,7.415,2.933z"/>
            </svg>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="button btn-line btn btn-br br5 btn-gray dropdown-toggle" data-toggle="dropdown">
          <span class="btn_txt"><i class="times">&times;</i> Турнир <b>633</b></span>
          <span class="caret"></span>
          <span class="morph-shape">
            <svg width="100%" height="100%" viewBox="0 0 416.333 71.369" preserveAspectRatio="none">
              <path d="M7.415,2.933h394.849c3.744,0,6.777,3.034,6.777,6.777
	l6.653,49.823c0,3.742-3.035,6.776-6.777,6.776L14.191,66.086c-3.742,0-6.776-3.035-6.776-6.776l-6.776-49.6
	C0.639,5.968,3.673,2.933,7.415,2.933z"/>
            </svg>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="" class="button btn-fill btn btn-br btn-ok btn-red">
    <span class="btn_txt">OK</span>
    <span class="morph-shape">
      <svg width="100%" height="100%" viewBox="0 0 95.695 76.31" preserveAspectRatio="none">
        <path d="M7.415,2.933h74.849c3.744,0,6.777,3.034,6.777,6.777l6.653,59.823
	c0,3.742-3.035,6.776-6.777,6.776L14.191,66.086c-3.742,0-6.776-3.035-6.776-6.776l-6.776-49.6C0.639,5.968,3.673,2.933,7.415,2.933
	z"/>
      </svg>
    </span>
  </a>
</div>
<div class="filters_sub">
  <div class="btns">
    <a class="btn btn-br active">
      <span>Все</span>
    </a>
    <a class="btn btn-br btn-live">
      <span>Live</span>
    </a>
    <a class="btn btn-br">
      <span>Завершенные</span>
    </a>
  </div>
  <div class="datesorter">
    <a href="">
      <i class="gti-angle-left"></i>
    </a>
    <span>6 понедельник сентябрь</span>
    <a href="">
      <i class="gti-angle-right"></i>
    </a>
  </div>
</div>