<!-- filters.html -->
<div class="filters">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="btn btn-br br3 dropdown-toggle active" data-toggle="dropdown">
          <span><i class="gti-582"></i> DOTA 2</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="btn btn-br br4 btn-gray dropdown-toggle" data-toggle="dropdown">
          <span><i class="times">&times;</i> Команда <b>2134</b></span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="btn btn-br br5 btn-gray dropdown-toggle" data-toggle="dropdown">
          <span><i class="times">&times;</i> Турнир <b>234</b></span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="active">
            <a href=""><span><i class="gti-582"></i> DOTA 2</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-313"></i>League of Legends</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-704"></i>CSGO</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-800"></i>Overwatch</span></a>
          </li>
          <li>
            <a href=""><span><i class="gti-755"></i>Hearthstone</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="" class="btn btn-br btn-ok btn-red"><span>OK</span></a>
</div>
<div class="filters_sub">
  <div class="btns">
    <a class="btn btn-br active">
      <span>Все</span>
    </a>
    <a class="btn btn-br btn-live">
      <span>Live</span>
    </a>
    <a class="btn btn-br">
      <span>Завершенные</span>
    </a>
  </div>
  <div class="datesorter">
    <a href="">
      <i class="gti-angle-left"></i>
    </a>
    <span>6 понедельник сентябрь</span>
    <a href="">
      <i class="gti-angle-right"></i>
    </a>
  </div>
</div>