<!-- list.html -->
{% set logo = ['http://game-tournaments.com/media/logo/_60/pic-20161110-500x500-918003572.png', 'http://game-tournaments.com/media/logo/_60/pic-20161110-600x600-7320131375.png','http://game-tournaments.com/media/logo/_60/pic-20161110-300x300-984796327.png','http://game-tournaments.com/media/logo/_60/pic-20160427-400x400-4903299505.png','http://game-tournaments.com/media/logo/_60/pic-20161110-300x300-752810928.png','http://game-tournaments.com/media/logo/_60/pic-20161027-600x600-9332827152.png'] %}
{% set flag = ['http://game-tournaments.com/media/flag/1.png', 'http://game-tournaments.com/media/flag/2.png', 'http://game-tournaments.com/media/flag/3.png','http://game-tournaments.com/media/flag/4.png','http://game-tournaments.com/media/flag/5.png'] %}
{% set team = ['NewBee', 'Virtus.Pro','OG','Liquid','Navi'] %}
{% set tour_logo = ['http://game-tournaments.com/media/tournament/_60/pic-20170217-600x261-1123288553.png', 'http://game-tournaments.com/media/tournament/_60/pic-20170318-400x386-8106403034.png'] %}
{% set tour = ['World Cyber Arena', 'International'] %}
{% set bet = ['betway.png', 'egb.png', 'pinnacle.png', 'williamhill.png', 'vtl.png'] %}
{% set active = ['active', '', '', '', '', '', '', '', ''] %}
{% set eventlive = ['event-live', 'event-live', '', '', '', '', '', '', ''] %}
{% set player = ['Different Header', 'fogged', 'Korok', 'USH', 'Merlin', 'RAMZES666', 'No[o]ne', '9pashaebashu', 'Lil', 'Solo'] %}
{% set pos = ['Carry', 'Mid', 'Offlane', 'Support', 'Support'] %}

<div class="event_list">
  {% for i in 0..5 %}
    <div class="event {{eventlive[i]}} {{active[i]}}" id="id{{i}}"> 
      <div class="game">
        <a href="#sort-by-game" class="tip" title="Sort by game">
          <i class="gti-582"></i>
        </a>
      </div>
      <div class="date">
        <a href="javascript:;" class="open-more-info" title="{{random(team)}} vs {{random(team)}}">
           <div class="hour_minutes">14:05</div>
           <div class="day_month">12/05</div>
        </a> 
      </div>
      <div class="tournament">
        <a href="#linko-to-list-filterd-by-tour" title="{{random(tour)}}" class="tip">
          <img src="{{random(tour_logo)}}" alt="{{random(tour)}}">
        </a>
      </div>
      <div class="bo">
        <a href="#linko-to-list-filterd-by-tour" title="{{random(team)}} vs {{random(team)}} BO3" class="tip">
          BO3
        </a>
      </div>
      <div class="teams"> 
        <a href="javascript:;" class="open-more-info">
          <span>
            <figure><img class="logo" src="{{random(logo)}}" alt="{{random(team)}}"></figure>
            <img class="flag" src="{{random(flag)}}" alt="Китай"> 
            <em>{{random(team)}}</em>
          </span>
          <span>
            <figure><img class="logo" src="{{random(logo)}}" alt="{{random(team)}}"></figure>
            <img class="flag" src="{{random(flag)}}" alt="Китай"> 
            <em>{{random(team)}}</em>
          </span>
        </a>
      </div>
      <div class="scores">
        <div>
          <div class="team-home">
            <span class="main-score win">12</span>
            <span class="radiant tip" title="Radiant">R</span>
            <span class="kills tip" title="Kills">23</span>
            <span class="net tip" title="Team Net Worth">23</span>
            <span class="towers tip" title="Towers">23</span>
            <span class="star tip" title="star">23</span>
          </div>
          <div class="team-away">
            <span class="main-score loose">12</span>
            <span class="dire tip" title="Dire">D</span>
            <span class="kills tip" title="Kills">23</span>
            <span class="net tip" title="Team Net Worth">23</span>
            <span class="towers tip" title="Towers">23</span>
            <span class="star tip" title="star">23</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="btns">
            <a href="../img/dotamap.jpg" class="map fancybox tip" title="карта">
              <i class="gti-map-o"></i>
            </a>
            <a href="javascript:;" class="bookmark tip" title="В избранное">
              <i class="gti-bookmark-o"></i>
            </a>
            <a href="javascript:;" class="tv fancybox tip" title="Смотреть стрим">
              <i class="gti-tv"></i>
            </a>
            <a href="javascript:;" class="btn btn-xs btn-default open-more-info">
              {% if active[i] == 'active' %} скрыть {% else %} подробнее {% endif %}
            </a>
        </div>
      </div>
      <div class="eventbets">
        <table>
          <tr data-heref="link-to-bet" class="betlink">
            <td>Rogue 6.05 (15%)</td>
            <td>
              <a href="#" class="bets">
                <img src="../img/bets/bets_gg.png" alt="">
              </a>
            </td>
            <td>1.10 (85%) Virtus.Pro</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="eventinfo {{active[i]}}">
      <div class="eventbets">
        <table>
          {% for i in 1..5 %}
          <tr>
            <td>Rogue  6.05 (15%)</td>
            <td>
              <a href="#" class="bets">
                <img src="../img/bets/{{random(bet)}}" alt="Rogue">
              </a>
            </td>
            <td>1.10 (85%) Virtus.Pro</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="eventgraf eventgraf-dota">
        <div class="dotanet">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#networth{{i}}" role="tab" data-toggle="tab">Networth</a></li>
              <li><a href="#experience{{i}}" role="tab" data-toggle="tab">Experience</a></li>
              <li><a href="#gold{{i}}" role="tab" data-toggle="tab">Gold</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="networth{{i}}">
                <div id="networth-chart" class="chart">
                  <!-- LOADER -->
                  <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div>
                  </div>
                  <!-- LOADER END -->
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="experience{{i}}">
                <div id="experience-chart{{i}}" class="chart">
                  <!-- LOADER -->
                  <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div>
                  </div>
                  <!-- LOADER END -->
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="gold{{i}}">
                <div id="gold-chart{{i}}" class="chart">
                  <!-- LOADER -->
                  <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div>
                  </div>
                  <!-- LOADER END -->
                </div>
              </div>
            </div>
        </div>
        <div class="dotamapt">
          <a href="../img/dotamap.jpg" class="fancybox"><img src="../img/dotamap.jpg" alt="Dota2 {{random(team)}} vs {{random(team)}} map"></a>
        </div>
      </div>
      
      <div class="row row-compact">
        <div class="col-sm-4">
          <div class="streams block">
            <h3><span><i class="gti-tv"></i> Стримы</span></h3>
            <ul class="ps">
              {% for i in 0..5 %}
              <li>
                <a href="https://player.twitch.tv/?channel=gohamedia" class="fancybox-media" data-fancybox-type="iframe">
                  <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/dota2ruhub2-profile_image-d2f99aa6cf275645-300x300.png" alt="">
                  <span>
                    <em><b>[RU]</b> dota2ruhub2</em>
                    <b><i class="gti-eye"></i> 2234</b>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="players block">
            <h3><span><i class="gti-user-o"></i> Составы</span></h3>
            <table class="table">
              <tr class="summary">
                <td colspan="2">
                  <figure><img class="logo" src="{{random(logo)}}" alt="{{random(team)}}"></figure>
                  <em>{{random(team)}}</em>
                </td>
                <td>
                  <span class="win">0</span> &times; <span class="lose">2</span>
                </td>
                <td colspan="2">
                  <figure><img class="logo" src="{{random(logo)}}" alt="{{random(team)}}"></figure>
                  <em>{{random(team)}}</em>
                </td>
              </tr>
              {% for i in 0..4 %}
              <tr class="player">
                <td class="inf inf1">
                  <span class="tip" title="lvl">22</span>
                  <span class="tip" title="Ratio">6 : 1 / 7</span>
                  <span class="tip" title="Networth">21230</span>
                </td>
                <td>
                  <em>
                    {{random(player)}}
                  </em> 
                  <img class="flag" src="{{random(flag)}}" alt="Китай">
                </td>
                <td>{{pos[i]}}</td>
                <td>
                  <em>
                    {{random(player)}}
                  </em>
                  <img class="flag" src="{{random(flag)}}" alt="Китай">
                </td>
                <td class="inf inf2">
                  <span class="tip" title="lvl">22</span>
                  <span class="tip" title="Ratio">6 : 1 / 7</span>
                  <span class="tip" title="Networth">21230</span>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>