/*
  Base
*/
body{
  color: $text-main;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: $body-bg;
  position: relative;
  
  background: url(../img/bgtile.jpg) 0 0 repeat;
}
a{
  color: $link-light-blue;
  &:active,
  &:focus,
  &:hover{
    color: $link-blue-active;
    text-decoration: underline;
  } 
}

hr{
  border-top: 1px solid #454a4e;
}