/*
  Layout
*/

.bread{
  background: #262c2d;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  z-index: 2;
  a{
    color: #cccccc;
    &:hover{
      color: #eff16c;
      text-decoration: none;
    }
  }
  .breadcrumb{
    margin-bottom: 0;
    padding: 8px 0;
    >li+li:before {
      padding: 0 5px;
      color: #eff16c;
      content: "×";
    }
  }
  .projects{
    float: right;
    padding: 8px 0;
    color: #eff16c;
    @media (max-width: $M){
      display: none;
    }
  }
}
.footer{
  background: #fff;
  padding: 25px 0;
  font-size: 11px;
  color: #999999;
  position: relative;
  z-index: 2;
  b{
    display: block;
    text-transform: uppercase;
    color: red;
    font-weight: 400;
    line-height: 1;
    span{
      display: block;
      color: #999999;
      text-transform: none;
      font-size: 10px;
    }
  }
  
  .fl{
    overflow: hidden;
    .flogo{
      max-width: 140px;
      display: block;
      opacity: .5;
      float: left;
      @media (max-width: $XM) {
        float: right;
      }
      &:hover{
        opacity: 1;
      }
      img{
        width: 100%;
      }
    }
    .contacts{
      b{
        span{
          text-transform: uppercase;
        }
      }
    }
  }
  .f-coppy{
    @media (max-width: $XM) {
      text-align: center;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 10px;
    }
  }
  .f-soc{
    padding: 5px 0 0 0;
    @media (max-width: $XM) {
      text-align: center;
      border-top: 1px solid #ccc;
    }
    a{
      margin: 0 5px;
      color: #ccc;
      &:hover{
        color: red;
        text-decoration: none;
      }
    }
  }
  .f-menu{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    li{
      padding: 0;
      a{
        color: #999999;
        &:hover{
          color: red;
          text-decoration: none;
        }
      }
    }
  }
  .f-menu-row{
    overflow: hidden;
    margin: 0;
    padding: 0;
    .f-menu{
      float: left;
      width: 50%;
    }
  }
  .fabout{
    @media (max-width: $XM) {
      text-align: center;
    }
  }
}

header{
  background: #fff;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  @media (max-width: $M) {
    padding: 10px 0;
  }
  .logo{
    float: left;
    display: block;
    padding: 5px 0;
    img{
      width: 160px;
    }
    @media (max-width: $M) {
      width: 33px;
      overflow: hidden;
      padding: 3px 0;
    }
  }
  .topmenu{
    padding: 0;
    margin: 0 0 0 200px;
    @media (max-width: $M) {
      margin: 0 0 0 40px;
    }
    li{
      display: inline-block;
      position: relative;
      a{
        display: block;
        padding: 5px 10px;
        @media (max-width: $M){
          padding: 5px 2px;
        }
        font-size: 16px;
        color: #999;
        font-weight: 600;
        &:hover,
        &:active,
        &:focus{
          text-decoration: none;
          color: red;
          i{
            color: red;
            text-shadow: none;
          }
        }
        i{
          font-size: 21px;
          /*text-shadow: 0 0 1px #000;*/
          color: #b8b8b8;
          transition: $transition;
          @media (max-width: $M) {
            font-size: 16px;
            margin: 4px 0;
            display: block;
          }
        }
        span{
          margin: 0 0 0 5px;
          position: relative;
          top: -3px;
          @media (max-width: $M) {
            display: none;
          }
        }
      }
      &.active{
        color: red;
        /*&:before{
          transition: $transition;
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          right: -6px;
          bottom: 2px;
          left: 3px;
          border: 1px solid red;
          border-radius: 3px;
          transform-origin: center;
          transform: perspective(100px) rotateY(16deg);
          transform-style: preserve-3d;
          @media (max-width: $M) {
            display: none;
          }
        }*/
        &:hover{
          /*&:before{
            transform: perspective(100px) rotateY(-10deg);
            right: 6px;
            bottom: 2px;
            left: -3px;
          }*/
        }
        a{
          cursor: default;
          color: red;
          &:hover{
            cursor: default;
            color: red;
          }
          i{
            color: red;
            text-shadow: none;
          }
        }
      }
    }
  }
  .opt{
    float: right;
    padding: 8px 0;
    @media (max-width: $M){
      padding: 7px 0;
      .btn{
        padding: 5px 1px;
        .caret{
          margin-left: 0px;
        }
      }
    }
    .nightmode-btn{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      font-family: 'gticons';
      color: #555;
      &:before{
        content: '\f186';
      }
      &:hover,
      &:focus{
        color: red;
        text-decoration: none;
      }
      &.off{
        &:before{
          content: '\e919';
        }
      }
      &.active{
        color: red;
      }
    }
    .btn{
      .caret{
      }
    }
    .dropdown{
      display: inline-block;
      margin-left: 3px;
      .dropdown-menu{
        right: 0;
        left: auto;
      }
    }
  }
  &.affix{
    top: 0;
    width: 100%;
    padding: 10px 0;
    transition: $transition;
  }
}

.bgad{
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 125px;
}
.container {
  max-width: 1000px;
  width: auto!important;
}
.banner{
  background: #eee;
  text-align: center;
  position: relative;
  &:after{
    content: 'БАННЕР';
    position: absolute 50% 0 * 0;
    color: #bbb;
    font-weight: bold;
  }
}
.mainwrap{
  position: relative;
  z-index: 2;
  min-height: 900px;
  background: #fff;
  padding-top: 90px;
  transition: $transition;
}
.affixpad .mainwrap{
  padding-top: 60px;
}
.page-content{
  padding: 15px 0;
  .center-col{
    width: calc( 100% - 190px);
    float: left;
    @media (max-width: $XM) {
      width: 100%;
      float: none;
    }
  }
  .right-col{
    width: 160px;
    float: right;
    @media (max-width: $XM) {
      width: 100%;
      float: none;
    }
  }
}
.filters{
  padding: 0 45px 0 0;
  position: relative;
  .row{
    margin-right: -2px;
    margin-left: -2px;
    > div{
      padding-right: 2px;
      padding-left: 2px;
      @media (max-width: $M) {
        margin-bottom: 5px;
      }
    }
  }
  .btn-ok{
    position: absolute 0px 0 * *;
    /*&:before{
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      right: 0px;
      bottom: -3px;
      left: 0px;
      border-radius: 3px;
      transform-origin: center;
      transform: rotateX(-7deg) perspective(200px) rotateY(-20deg) skewX(8deg);
      transform-style: preserve-3d;
    }*/
  }
  .btn-group{
    display: block;
    .dropdown-menu{
      i{
        margin-right: 10px;
      }
    }
  }
  .select2{
    margin: 3px 0;
  }
  .btn{
    display: block;
    float: none;
    text-align: left;
    font-size: 13px;
    i{
      font-size: 18px;
      line-height: 11px;
      margin-right: 5px;
      position: relative;
      top: 3px;
      &.times{
        font-style: normal;
        font-size: 32px;
        line-height: 9px;
        font-weight: 100;
        float: left;
        height: 17px;
        margin: -1px 8px 0 -2px;
        opacity: .2;
      }
    }
    b{
      color: red;
      font-weight: 700;
      margin-left: 5px;
    }
    .caret{
      float: right;
      position: absolute;
      right: 10px;
      top: 23%;
      z-index: 2;
    }
    &:hover{
      i.times{
        opacity: 1;
      }
      b{
        color: #fff;
      }
    }
  }
}
.filters_sub{
  color: #000;
  padding: 13px 0 10px;
  overflow: hidden;
  @media (max-width: $M) {
    text-align: center;
  }
  
  .btns{
    display: inline-block;
    a{
      text-transform: uppercase;
      color: #000;
      font-size: 13px;
      font-weight: 400;
      padding: 5px 10px;
      margin-right: 10px;
      /*&:before{
        top: 0px;
        right: 0px;
        bottom: 1px;
        left: 0px;
        border: 1px solid red;
        border-radius: 3px;
        transform-origin: center;
        transform: perspective(100px) rotateY(0deg);
      }*/
      &:nth-child(1){
        color: #000;
        margin-right: 15px;
        /*&:before{
          transform: perspective(100px) rotateY(-27deg);
          left: -2px;
        }*/
      }
      &:nth-child(2){
        color: red;
        /*&:before{
          transform: perspective(100px) rotateY(27deg);
          left: -2px;
          right: -3px;
        }*/
        &:after{
          content: '';
          display: block;
          width: 9px;
          height: 9px;
          background: red;
          border-radius: 50%;
          position: absolute 9px * * -6px;
          box-shadow: 0 0 0 5px rgba(255, 199, 199, 0.64);
        }
        &:hover{
          color: #fff;
        }
      }
      &:nth-child(3){
        padding: 3px 10px;
        margin: 2px 0;
      }
      &.active{
        color: #fff;
        background: red;
        /*&:before{
          background: red;
        }*/
      }
    }
  }
}
.datesorter{
  padding: 7px 0;
  float: right;
  font-size: 11px;
  font-weight: 400;
  @media (max-width: $M) {
    padding: 15px 0 0 0;
    float: none;
    text-align: center;
  }
  a{
    width: 15px;
    height: 15px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    transition: $transition;
    &:hover{
      background: red;
      color: #fff;
    }
    i{
      line-height: .5;
    }
  }
  span{
    padding: 0 5px;
  }
}

.event_list{
  .event{
    position: relative;
    font-size: 11px;
    color: $text-main;
    font-weight: 400;
    border-radius: 3px;
    
    margin-bottom: 12px;
    width: 100%;
    background-color: #f6f6f6;
    min-height: 60px;
    border: 1px solid #eaeaea;
    transition: $transition;
    &.active{
      margin-bottom: 0;
      border-left: 1px solid red;
      border-right: 1px solid red;
      border-top: 1px solid red;
      border-radius: 3px 3px 0 0;
      &:hover{
        border-bottom-color: #eaeaea;
        border-top-color: red;
        border-left-color: red;
        border-right-color: red;
      }
    }
    &:hover{
      border-color: #fda5a5;
    }
    >div{
      display: inline-block;
      height: 60px;
      position: relative;
      margin: 0 -1px;
      @media (max-width: $M){
        height: 45px;
      }
      a{
        color: $text-main;
        &:hover,
        &:focus,
        &:active{
          text-decoration: none;
        }
      }
    }
    .game{
      text-align: center;
      width: 35px;
      @media (max-width: $XM){
        width: 50px;
      }
      a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        color: red;
        font-size: 16px;
      }
    }
    .date{
      text-align: center;
      width: 35px;
      a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
      }
    }
    .tournament{
      text-align: center;
      width: 75px;
      a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
      }
    }
    .bo{
      text-align: center;
      width: 35px;
      a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
      }
    }
    .teams{
      width: calc(100% - 216px);
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: #d1d1d1;
        border-radius: 50%;
        top: 27px;
        left: 0px;
        position: absolute;
        z-index: 3;
      }
      @media (max-width: $M){
        right: auto;
        width: 100%;
        position: relative;
      }
      a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        span{
          font-size: 12px;
          line-height: 25px;
          padding: 2px 0;
          display: block;
          &:first-child{
            border-bottom: 1px solid #d1d1d1;
          }
          .flag{
            width: 16px;
            margin-right: 2px;
            vertical-align: text-bottom;
          }
          figure{
            width: 50px;
            height: 20px;
            margin: 0;
            padding: 0;
            text-align: center;
            display: inline-block;
            vertical-align: text-bottom;
            position: relative;
            top: 3px;
            @media (max-width: $XM){
              width: 50px;
            }
            img{
              max-width: 100%;
              height: 100%;
              display: inline-block;
              vertical-align: text-bottom;
            }
          }
          em{
            font-style: normal;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            max-width: 80px;
            display: inline-block;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .scores{
      text-align: right;
      display: block;
      position: absolute 0 22% * *;
      height: 61px;
      width: 25%;
      @media (max-width: $XM){
        right: 22%;
      }
      @media (max-width: $M){
        right: auto;
        width: 100%;
        position: relative;
        margin-top: -56px;
        border-top: 1px solid #ccc;
      }
      >div{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        div > span{
          position: relative;
          width: 14px;
          display: inline-block;
          text-align: center;
          margin: 0 2%;
          &.radiant,
          &.dire{
            margin-right: 2%;
            font-weight: 700;
          }
          &.main-score{
            margin-right: 3%;
            font-weight: 700;
          }
        }
      }
      .radiant{
        color: $green;
      }
      .dire{
        color: $red;
      }
      .team-home,.team-away{
        span{
          &:hover{
            cursor: help;
          }
        }
      }
      .team-home{
        padding: 7px 0 8px 0;
        span{
          &:after{
            font-family: 'gticons' !important;
            position: absolute;
            bottom: -15px;
            text-align: center;
            left: 0;
            right: 0;
            background: #f6f6f6;
            font-size: 10px;
            color: #888;
          }
          &.kills{
            &:after{
              content: '\e918';
            }
          }
          &.net{
            &:after{
              content: '\f0e7';
            }
          }
          &.towers{
            &:after{
              content: '\f286';
            }
          }
          &.star{
            &:after{
              content: '\f006';
            }
          }
        }
      }
      .team-away{
        padding: 8px 0 7px 0;
      }
    }
    .actions{
      width: 22%;
      position: absolute 0 0 0 *;
      
      @media (max-width: $XM){
        width: 14%;
      }
      @media (max-width: $XM){
        width: calc(100% - 186px);
      }
      .btns{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 0 10px;
        text-align: right;
        a{
          display: inline-block;
          text-align: center;
          background: #f6f6f6;
          margin: 5px 2px;
          &:hover{
            color: red;
          }
          i{
            font-size: 14px;
            line-height: 11px;
            vertical-align: middle;
            margin: 0 2px;
          }
          &.map{
            
          }
          &.bookmark{
            
          }
          &.tv{
            
          }
          &.open-more-info{
            @media (max-width: $SSM){
              display: none;
            }
          }
          &.btn{
            background: #ececec;
            text-transform: none;
            &:hover{
              background: red;
              color: #fff;
            }
          }
        }
      }
    }
    
    &.event-live{
      .teams{
        &:before{
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: red;
          border-radius: 50%;
          top: 50%;
          margin-top: -4px;
          left: 0;
          position: absolute;
          box-shadow: 0 0 0 5px rgba(255, 199, 199, 0.4);
          
          @media (max-width: $M){
            left: 26px;
            margin-left: -4px;
          }
        }
        a span{
          &:first-child{
            border-bottom: 1px solid red;
          }
        }
      }
      .actions .btns a.btn{
        border-color: red;
      }
    }
    .eventbets{
      display: block;
      height: auto;
      margin: 0;
      background: linear-gradient(to bottom, #e8e8e8 0%,#f9f2ed 100%);
      margin-top: -4px;
    }
  } /*.event*/
} /*.event_list*/

.eventbets{
  font-size: 11px;
  color: #111;
  font-weight: 400;
  background: #f9f2ed;
  table{
    width: 100%;
    tr{
      &:betlink{
        cursor: pointer;
      }
      td{
        padding: 2px;
        border-top: 1px solid #fff;
        &:nth-child(1){
           width: 40%;
          text-align: right;
        }
        &:nth-child(2){
          width: 20%;
          text-align: center;
          img{
            height: 14px;
          }
        }
        &:nth-child(3){
          width: 40%;
        }
      }
    }
  }
}
.eventinfo{
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  display: none;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  &.active{
    display: block;
    border-radius: 0 0 3px 3px;
  }
}

.centered{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  i{
    font-size: 15px;
    margin-right: 10px;
    vertical-align: baseline;
  }
}

.nav-pager .datesorter{
  padding-top: 9px;
}

.eventgraf{
  overflow: hidden;
  background: #eaeaea;
  .dotanet{
    float: left;
    width: 65%;
    min-height: 235px;
    @media (max-width: $M){
      float: none;
      width: 100%;
    }
    .nav{
      li{
        a{
          padding: 5px 10px;
          font-size: 11px;
          text-transform: uppercase;
          border-radius: 0;
        }
        &.active{
          a,
          a:hover,
          a:focus{
            background: #f5f5f5;
          }
        }
      }
    }
    .tab-content{
      .tab-pane{
        .chart{
          height: 240px;
          position: relative;
        }
      }
    }
  }
  .dotamapt{
    float: right;
    width: 35%;
    padding: 10px;
    background: #eaeaea;
    @media (max-width: $M){
      display: none;
    }
    a{
      img{
        width: 100%;
      }
    }
  }
}

.block{
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid #eee;
  h3{
    margin: -16px 0 10px 0;
    color: red;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    span{
      padding: 0 5px;
      display: inline-block;
      background: #fff;
      i{
        margin-right: 5px;
      }
    }
  }
}
.streams{
  ul{
    margin: 0;
    padding: 0 13px 0 0;
    list-style: none;
    overflow-x: auto;
    overflow-x: hidden;
    position: relative;
    max-height: 148px;
    li{
      display: block;
      position: relative;
      margin-bottom: 4px;
      a{
        display: block;
        font-size: 11px;
        color: #000;
        padding: 2px;
        overflow: hidden;
        line-height: 14px;
        &:hover,
        &:focus{
          text-decoration: none;
          background-color: #f5eeee;
        }
        img{
          width: 30px;
          float: left;
          margin-right: 10px;
        }
        em{
          display: block;
          margin-top: 2px;
          font-style: normal;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.players{
  table{
    margin: 0;
    tr:last-child{
      border: 0;
    }
  }
  .summary{
    font-size: 13px;
    font-weight: 400;
    span{
      font-weight: 700;
      width: 30px;
      display: inline-block;
    }
    .win{
      color: #769534;
    }
    .lose{
      color: #ed1c24;
    }
    figure{
      margin: 0;
      img{
        width: 20px;
      }
    }
    td{
      padding: 0px 2px 13px;
      em{
        font-style: normal;
      }
      &:nth-child(1){
        width: 40%;
        text-align: right;
        figure{
          float: right;
          padding: 0 0 0 10px;
        }
      }
      &:nth-child(2){
        text-align: center;
      }
      &:nth-child(3){
        width: 40%;
        figure{
          float: left;
          padding: 0 10px 0 0;
        }
      }
    }
  }
  .player{
    font-size: 12px;
    .flag{
      width: 18px;
    }
    td{
      padding: 2px;
      vertical-align: middle;
      &.inf{
        font-size: 10px;
        width: 20%;
        span{
          cursor: help;
        }
        &.inf1{
          text-align: left;
        }
      }
      em{
        width: calc(100% - 30px);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1px 2px 0;
        margin-bottom: -4px;
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
      }
      &:nth-child(2){
        width: 20%;
        text-align: right;
        .flag{
          float: right;
          margin: 0px 1px 0 10px;
        }
      }
      &:nth-child(3){
        text-align: center;
        color: #9a9a9a;
        font-size: 11px;
      }
      &:nth-child(4){
        width: 20%;
        .flag{
          float: left;
          margin: 0px 10px 0 1px;
        }
      }
    }
  }
}


/*
* NIGHT
*/
.nightmode{
  color: #a8bdbd;
  background-color: $darkbg;
  h2{
    color: $darkactive;
  }
  .bread{
    background: $darkactive;
    color: $darkbg;
    a{
      color: $darkbg;
    }
  }
  header{
    background: $darkbg;
    .topmenu li{
      a{
        color: $darksub;
        &:hover,
        &:focus{
          color: $darksub;
        }
        i{
          color: $darksub;
        }
      }
      &.active a{
        color: $darkactive;
         i{
          color: $darkactive;
          text-shadow: 0 1px 7px $darkactive;
        }
      }
    }
    .opt .nightmode-btn{
      color: $darksub;
      &.active,
      &:hover,
      &:focus{
        color: $darkactive;
        text-shadow: 0 1px 7px $darkactive;
      }
    }
  }
  .btn-br{
    border-color: $darkactive;
    color: $darkactive;
    &:hover{
      color: #fff!important;
      background: $darkactive;
      border-color: $darkactive;
      b{
        color: $darklight;
      }
    }
    &.active {
      color: #fff;
      border-color: $darkactive;
      background: $darkactive;
    }
    &.btn-gray{
      color: $darkactive;
    }
    &.btn-red {
      color: #fff;
      background: $darkactive;
      border-color: $darkactive;
      &:hover{
        background: $darkactive;
        border-color: $darkactive;
      }
    }
  }
  .filters .btn b {
    color: $darklight;
  }
  .mainwrap{
    background: $darkbg;
  }
  .filters_sub {
    .btns a{
      color: $darklight;
      &.active {
        color: #fff;
        background: $darkactive;
      }
    }
  }
  .datesorter{
    color: $darkactive;
    a{
      color: $darkactive;
      border-color: $darkactive;
    }
  }
  .footer{
    background: #192427;
    color: rgba(153, 153, 153, 0.63);
    .contacts{
      b{
        color: $darkactive;
        span{
          color: rgba(153, 153, 153, 0.63);
        }
      }
    }
    .f-menu {
      a{
        color: rgba(153, 153, 153, 0.63);
        :hover{
          color: $darkactive;
        }
      }
      b{
        color: $darkactive;
        span{
          color: rgba(153, 153, 153, 0.63);
        }
      }
    }
  }
  .nav-pager .pagination li {
    a,
    span{
      color: $darkactive;
    }
    &.active{
      a{
        background: $darkactive;
      }
    }
    a:hover{
      background: $darkactive;
    }
  }
  .banner{
    background: #434e52;
  }
  .event_list{
    .event{
      background-color: $darksub2;
      border-color: $darksub;
      color: #d8d8d8;
      &.active{
        border-left-color: $darkactive;
        border-right-color: $darkactive;
        border-top-color: $darkactive;
        &:hover{
          border-bottom-color: $darksub;
        }
      }
      &:hover{
        background: #3d5252;
        .scores .team-home span:after, 
        .scores .team-away span:after,
        .actions .btns a{
          background: #3d5252;
        }
      }
      >div a{
        color: #d8d8d8;
      }
      .game a{
        color: $darkactive;
        text-shadow: 0 1px 11px $darkactive;
      }
      &.event-live .teams {
        a span:first-child{
          border-bottom-color: #31a4a0;
        }
        &:before{
          box-shadow: 0 0 0 5px rgba(255, 199, 199, 0.2);
        }
      }
      .teams a span:first-child{
        border-bottom-color: $darksub;
      }
      .scores .team-home span,
      .scores .team-away span{
        color: #cebc50;
        &:after{
          background: $darksub2;
          color: $darkactive;
        }
      }
      .actions .btns a{
        background: $darksub2;
        color: $darkactive;
        &.btn{
          color: #fff;
          border-color: $darkactive;
          background: $darksub;
        }
      }
    }
    .eventbets{
      background: $darksub2;
      color: #a8bdbd;
      table tr td {
        border-color: $darksub;
      }
    }
  }
  .eventinfo{
    border-left-color: $darkactive;
    border-right-color: $darkactive;
    border-bottom-color: $darkactive;
    background: #2c3538;
    &.active{
      margin-top: -1px;
    }
    .eventgraf{
      background: $darksub2;
      border-top: 1px solid $darksub;
      .dotanet{
        .nav-tabs{
          border-bottom-color: $darkactive;
        }
        .nav li a{
          color: $darkactive;
        }
        .nav li.active a,
        .nav li.active a:hover,
        .nav li.active a:focus{
          background: #2c3538;
          color: $darkactive;
          border-color: $darkactive;
          border-bottom-color: transparent;
        }
        .nav li:first-child a{
          border-left: 0;
        }
        .chart{
        }
      }
      .dotamapt{
        background: $darksub2;
        border-left: 1px solid $darksub;
        border-bottom: 1px solid $darksub;
      }
    }
    .block{
      border-color: $darksub;
      h3{
        span{
          background: #2c3538;
          color: $darkactive;
        }
      }
    }
    .streams ul li a{
      color: #a8bdbd;
      &:hover{
        background: $darksub;
        color: #fff;
      }
    }
    .players {
      .player td:nth-child(3){
        color: $darkactive;
      }
      .table>tbody>tr {
        border-bottom-color: $darksub;
      }
    }
  }
  .double-bounce1, .double-bounce2{
    background-color: $darkactive;
  }
  .dropdown-menu{
    background-color: $darkactive;
  }
  .open>.dropdown-toggle.btn.btn-br{
    background-color: $darkactive;
    border-color: $darkactive;
  }
} /*.nightmode*/









