/*
  Theme
*/

/*colors*/
.red, .text-danger{
  color: $red !important;
}
.green, .text-success{
  color: $green !important;
}
.subgreen{
  color: $green !important;
}
.blue, .text-primary{
  color: $blue !important;
}
.lightblue{
  color: $lightblue !important;
}
.orange{
  color: $orange !important;
}
.text-info{
  color: $lightblue !important;
}
.text-muted{
  color: inherit;
  opacity: .7
}
.text-warning{
  color: $orange !important;
}
.gray,
.g{
  color: #ccc !important;
}

/*well*/
.well.bg-primary, .bg-primary {
  color: #fff;
  background-color: #22537d!important;
}
.well.bg-success, .bg-success {
  background-color: #273422!important;
}
.well.bg-info, .bg-info {
  background-color: #3f5560!important;
  a{
    color: #9de0ff;
    border-bottom: 1px dotted;
    &:hover,
    &:focus,
    &:active{
      text-decoration: none;
      border: 0;
    }
  }
}
.well.bg-warning, .bg-warning {
  background-color: #555036!important;
}
.well.bg-danger, .bg-danger {
  background-color: #5a4545!important;
}
.well.bg-primary{
  border-color: #3271a7!important;
}
.well.bg-success{
  border-color: #4e8437!important;
}
.well.bg-info{
  border-color: #375d84!important;
}
.well.bg-warning{
  border-color: #9b9b4c!important;
}
.well.bg-danger{
  border-color: #8b3f3f!important;
}

/*
* Bootstrap Theme
*/

.container {
  @media (max-width: $M){
    
  }
  @media (min-width: 1200px){
    width: 1230px;
  }
}
/*
* dropdown
*/
.dropdown.open{
  > a.btn{
    background: transparent;
    color: #fff;
    box-shadow: none;
    &:before{
      background: red;
      border-color: red;
    }
  }
}

.dropdown-menu {
    background: red;
    box-shadow: 4px 4px 10px rgba(0,0,0,.1);
    padding: 0;
    margin: 2px -1px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    min-width: 170px;
    max-height: 400px;
    overflow-y: auto;
  li{
    &:nth-child(2n+1){
      background: rgba(255, 255, 255, 0.04);
    }
    &.active a{
      text-decoration: none;
      color: #000;
      background: #fff910;
      &:focus,
      &:hover{
        color: #000;
        background: #fff910;   
      }
    }
    a{
      color: #fff;
      padding: 4px 12px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &:active,
      &:focus,
      &:hover{
        text-decoration: none;
        color: #000;
        background: #fff910;
      }
    }
    &.divider {
      margin: 0;
      background-color: #0b75a7;
    }
  }
}
.dropdown-header{
  text-transform: uppercase;
  color: #fff;
  padding: 4px 6px;
  background: #037db5 url(../img/spoiler.png) repeat 0 0!important;
  font-size: 11px;
}

/*
* Buttons
*/
.btn{
  border-radius: $br;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: 1.42857143;
  cursor: pointer;
  .caret{
    margin-left: 4px;
    border: 0;
    font-family: FontAwesome;
    display: inline-block;
    width: auto;
    height: auto;
    float: none;
    &:before{
      content:'';
    }
  }
}
.btn-xs{
  padding: 4px 8px 3px;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  height: 20px;
  .caret {
  }
} 
.btn-sm{
  height: 28px;
  .caret {
  }
}
.btn-success {
  color: #fff;
  background-color: $green;
  border-color: transparent;
}
.btn-default{
  background: #ececec;
  color: #111;
  &:active,
  &:focus,
  &:hover{
    background: $button-red;
    color: $button-red-text;
    border-color: $button-red;
  } 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #7faec3;
    background-color: #035880;
    border-color: #0b75a7;
}
.dropdown{
  .dropdown-toggle{
    text-align: left;
    &.caret-abs .caret{
      position: absolute 8px 10px * *;
      margin: 8px 0 8px 5px;
    }
    
  }
}
.input-group-btn .dropdown-toggle .caret{
  margin-left: 0;
}
.btn-default.active, .btn-default:active{
    color: $link-gray;
    background-color: $bg-dropdown;
}
.open>.dropdown-toggle.btn{
  background-color: $bg-dropdown;
  color: $link-gray;
  position: relative;
}
body .open>.dropdown-toggle.btn-default:focus{
  background-color: $bg-dropdown;
  color: $link-gray;
}
.btn-primary{
  background-color: #2e89b3;
  &:active,
  &:focus,
  &:hover{
    background-color: #26779d;
  }
}
.btn-default.active, 
.btn-default:active, 
.open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #ccc;
  border-color: #999;
}
.btn-br{
  border: 1px solid #ccc;
  position: relative;
  color: red;
  background: transparent;
  box-shadow: none;
  &.btn-red{
    color: #fff;
    background: red;
    border-color: red;
    &:active,
    &:focus,
    &:hover{
      color: red;
      background: rgb(255, 243, 99);
      border-color: red;
    }
  }
  &.btn-gray{
    color: #000000;
    font-weight: 300;
  }
  &.active{
    color: #fff;
    box-shadow: none;
    border-color: red;
    background: red;
  }
  &:active,
  &:focus,
  &:hover{
    background: red;
    border-color: red;
    color: #fff;
  }
  span{
    position: relative;
    z-index: 1;
  }
  @media (max-width: $M) {

  }
}

.open>.dropdown-toggle.btn{
  &.btn-br{
    color: #fff;
    box-shadow: none;
    background: red;
    border-color: red; 
  }
}
/*
* Popover
*/
.popover {
    background-color: $bg-dropdown;
    color: $link;
    border: 0;
    border-radius: $br;
    box-shadow: $bsh;
    font-size: 12px;
    font-family:inherit;
}
.popover-title {
    background-color: $bg-dropdown;
    border-bottom: 1px solid color($bg-dropdown l(40%));
    border-radius: $br $br 0 0;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
}
.popover.bottom > .arrow:after {
    border-bottom-color: $bg-dropdown;
}

/*
* Forms
*/

.form-control{
  border-radius: $br;
  color: $text-main;
  box-shadow: none;
  vertical-align: top;
  outline: none;
  &:active,
  &:focus,
  &:hover{
    border-color: red;
    background-repeat: repeat;
    z-index: 3;
  }
}
.input-sm {
  height: 28px;
}
select.form-control{
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBJREFUeNpi/P//fzIDA8NFID7DgB2YALEeE5DYBcRWQOyERZETVG43I9BEkIAoEAcB8TMg3gZV5AXEMkC8BohfwxSCAB9U8Q8onwOI1wHxJxAHWSFM0h/K3oikiQEgwACQhxnKC4LrMAAAAABJRU5ErkJggg==');
  background-position: 96% 50%;
  background-repeat: no-repeat;
  appearance:none;
  &:active,
  &:focus,
  &:hover{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAk0lEQVQIW2Ps6+tL/v3798Xy8vIzDFhAZ2enCQsLix5jb2+vLFA+8N+/f1dKS0v3Iavt7u52YmJi0gGKrWcESbS1tYmys7MHARU/O3Xq1DaQmJmZmRdQkczPnz/XVFVVvQYrBIGGhgY+Xl7eIEZGxh8g/v///zk+f/68Dij+CcSHK4Qq5gAq9gexgYo2AhWBNYEAACt6ONORVV9nAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
  }
}
/*
Placeholder in forms
*/
::-webkit-input-placeholder {
  opacity: 1 !important;
}
:-moz-placeholder {
  opacity: 1 !important;
}
::-moz-placeholder {
  opacity: 1 !important;
}
:-ms-input-placeholder {  
  opacity: 1 !important;
}


.breadcrumb{
  background-color: transparent;
  border-radius: 0;
}

/*
Tabs
*/
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    opacity: 0; 
    overflow-y: hidden;
} 

/*OWL SLIDER STYLE*/
.owl-theme {
  .owl-controls{
    .owl-buttons{
      .owl-prev,
      .owl-next{
        opacity: 0.6;
        &:hover,
        &:focus,
        &:active{
          opacity: 1;
        }
      }
    }
    .owl-page{
      span{
        background: #5b6d7b;
      }
    }
  }
}

/*
* Panel
*/
.block-content{
  margin-bottom: 20px;
}
.panel {
  margin-bottom: 20px;
  background-color: #37424c;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  
  &.panelWpager{
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.panel-default {
    border-color: #424f5a;
    >.panel-heading {
      color: #fff;
      background-color: #37424c;
      border-color: #424f5a;
      .mlh{
        padding: 0;
      }
    }
  }
}
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body, .panel>.table-responsive+.panel-body {
    border-top: 1px solid #424f5a;
}

/*Table*/
.table>tbody>tr{
  border-bottom: 1px solid #eee;
}
.table-striped>tbody>tr:nth-of-type(odd) {

}
.table-striped>tbody>tr:last-child {
  border-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 0;
}
.table-hover>tbody>tr:hover {
  background-color: rgba(2, 2, 2, 0.14)!important;
}
.table-sm{
  font-size: 11px;
  &.table > thead > tr> th{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.table>tbody>tr>td, 
  &.table>tbody>tr>th{
    line-height: 1.5;
  }
}
.table > thead {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  >tr{
    th {
      font-size: 10px;
      background: #37424c url(../img/spoiler.png) repeat scroll 0 0;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 0;
    }
  }
}
@media (max-width: 767px) {
  .table-responsive {
      border: 1px solid #5e6165;
  }
}

/*
* 5 column
*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* icons fix */
.gti-fb:before {
  content: "\f09a";
}
.gti-tw:before {
  content: "\f099";
}
.gti-vk:before {
  content: "\f189";
}
.gti-google:before {
  content: "\f1a0";
}
.gti-gg:before {
  content: "\f0d5";
}
/* .icons fix */


/*
* Perfect scroll
*/
.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

/*
  last-child in colums margin
*/
@media (max-width: 992px) {
  .row{
    > div{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


/*
* LOADER
*/
.spinner {
  width: 40px;
  height: 40px;

  /*position: relative;
  margin: 100px auto;*/
  position: absolute 50% * * 50%;
  margin: -20px
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*
* Fancybox
*/
.fancybox-overlay{
  background: #000;
  opacity: .8
}
.fancybox-skin {
  background: #040404;
  color: #fff;
  text-shadow: none;
  border-radius: 0;
}
.fancybox-inner {
  overflow: hidden!important;
}
.row.row-compact{
    margin-right: -5px;
    margin-left: -5px;
  > div{
    padding-right: 5px;
    padding-left: 5px;
  }
}










/*
transform btn border
*/
/*
.btn-br{
  border: 0;
  position: relative;
  color: red;
  background: transparent;
  box-shadow: none;
  &:before{
    transition: $transition;
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -6px;
    bottom: 2px;
    left: 3px;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    transform-origin: center;
    transform: perspective(100px) rotateY(16deg);
    transform-style: preserve-3d;
  }
  &.br1{
    &:before{
      transform: rotateX(-1deg) perspective(100px) rotateY(17deg) skewX(-7deg);
      top: -3px;
      bottom: 1px;
    }
    &:hover{
      &:before{
        transform: rotateX(-1deg) perspective(100px) rotateY(17deg) skewX(-7deg);
        top: -3px;
        bottom: 1px;
      }
    }
  }
  &.br2{
    &:before{
      transform: rotateX(-5deg) perspective(100px) rotateY(-13deg) skewX(-7deg);
      top: -2px;
      bottom: 1px;
      right: 1px;
      left: 0px;
    }
  }
  &.br3{
    &:before{
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -7px;
    bottom: -3px;
    left: 10px;
    border-radius: 3px;
    transform-origin: center;
    transform: rotateX(1deg) perspective(200px) rotateY(9deg) skewX(9deg);
    transform-style: preserve-3d;
    }
    &:hover{
      &:before{
        transform: rotateX(1deg) perspective(200px) rotateY(9deg) skewX(-9deg);
      }
    }
  }
  &.br4{
    &:before{
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 0px;
    bottom: -2px;
    left: 0px;
    border-radius: 3px;
    transform-origin: center;
    transform: rotateX(0deg) perspective(200px) rotateY(0deg) skewX(8deg);
    transform-style: preserve-3d;
    }
  }
  &.br5{
    &:before{
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 0px;
    bottom: -2px;
    left: 0px;
    border-radius: 3px;
    transform-origin: center;
    transform: rotateX(0deg) perspective(200px) rotateY(0deg) skewX(8deg);
    transform-style: preserve-3d;
    }
  }
  &.btn-red{
    color: #fff;
    &:before{
      background: red;
      border-color: red;
      color: #fff;
    }
    &:active,
    &:focus,
    &:hover{
      color: red;
      &:before{
        background: rgb(255, 243, 99);
        border-color: red;
      }
    }
  }
  &.btn-gray{
    color: #000000;
    font-weight: 300;
  }
  &.active{
    color: red;
    box-shadow: none;
    &:before{
      border-color: red;
    }
  }
  &:active,
  &:focus,
  &:hover{
    background: transparent;
    color: #fff;
    &:before{
      background: red;
      border-color: red;
    }
  }
  span{
    position: relative;
    z-index: 1;
  }
  @media (max-width: $M) {
    &:before{
      transform: none !important;
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0!important;
    }
  }
  
}
.open>.dropdown-toggle.btn{
  &.btn-br{
    background: transparent;
    color: #fff;
    box-shadow: none;
    &:before{
      background: red;
      border-color: red; 
    }
  }
}
*/


/*
svg btn
*/
.button{
  position: relative;
  display: block;
  &.btn-fill{
    background: transparent;
    border-color: transparent;
  }
  &.btn-line{
    background: transparent;
    border-color: transparent;
  }
}
.btn .morph-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn-line .morph-shape svg {
    fill: none;
    stroke: red;
    stroke-width: 1px;
    stroke-linecap: round;
}
.btn.btn-br .btn_txt {
    display: block;
    position: relative;
    z-index: 100;
    padding: 2px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-fill .morph-shape svg {
  fill: red;
}

.open>.dropdown-toggle.btn.btn-br.button,
.open>.dropdown-toggle.btn.btn-br.button:hover,
.dropdown-toggle.btn.btn-br.button:hover{
  background: transparent;
  border-color: transparent;
  svg {
    fill: #d41515;
  }
  span.btn_txt{
    color: #fff;
  }
}
.filters .br3{
  min-height: 35px;
  margin-left: -4px!important;
}
.button.btn-ok{
  height: 36px;
  &:hover{
    background: transparent;
    border-color: transparent;
    .btn_txt{
      color: #fff;
    }
    .morph-shape svg{
      fill: #d00808;
    }
  }
}

/*
* NIGHT
*/
.nightmode{
  .form-control{
    background: #454a4e;
    color: #fff;
  }
  .button{
    &.btn-fill{
      background: transparent;
      border-color: transparent;
    }
    &.btn-line .morph-shape svg {
      stroke: $darkactive;
    }
  }
  .btn.btn-br .btn_txt {
    color: #fff;
  }
  .btn-fill .morph-shape svg {
    fill: $darkactive;
  }
  .open>.dropdown-toggle.btn.btn-br.button,
  .open>.dropdown-toggle.btn.btn-br.button:hover,
  .dropdown-toggle.btn.btn-br.button:hover{
    svg {
      fill: #29928e;
    }
  }
  .button.btn-ok {
    background: transparent!important;
    border-color: transparent!important;
    .morph-shape svg{
      &:hover{
        fill: #29928e;
      }
    }
  }
}
